header {
  background: #542a8e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 1rem;

  .left-side {
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
      padding: 0;
      font-size: 0.9rem;
    }

    img {
      height: 25px;
      width: 25px;
    }
  }

  .right-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
